
.page {
  margin: 16px;
}

.goods-list-container {
  padding: 16px;  
}

.goods-list-item {
  padding: 16px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;

  margin-bottom: 24px;
}

.goods-list-item .goods-category {
  font-size: 24px;
  font-weight: 600;
}

.goods-list-item .goods-imgs {
  flex: 1;
}